// Імпортуємо змінні
@import '../../styles/variables.scss';

// Контейнер для форми
.auth-form-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; // Центруємо все вертикально
  height: 100%;
  background-color: $background-color;
}

.auth-form {
  background-color: $white-color;
  padding: 30px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  width: 100%;
  max-width: 500px; // Максимальна ширина форми для великого екрану
  display: flex;
  flex-direction: column;  // Формуємо все в один стовпець
  gap: 15px;  // Додаємо відступи між елементами форми
}

// Стилізація заголовка
h2 {
  text-align: center;
  font-size: 24px;
  color: $text-color;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 0px;
}

label {
  font-size: 14px;
  color: $text-color;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: $primary-color;
  background-color: #fff;
}

button {
  width: 100%;
  padding: 12px;
  background-color: $button-background;
  color: $button-text-color;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: $button-hover-background;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;  // Відступ перед текстом під формою
}

p button {
  margin-top: 10px;
  background-color: $button-background;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

p button:hover {
  background-color: $button-hover-background;
}

// Стилізація для повідомлення про помилки
.error-message {
  color: $red-color;
  font-size: 14px;
  margin-top: 5px;
  padding: 8px;
  border-radius: 4px;
  animation: fadeIn 0.5s ease-out;
  margin-bottom: 10px;
  font-weight: bold;
}

// Додаємо анімацію для з'явлення повідомлень
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Для мобільних пристроїв
@media (max-width: 768px) {
  .auth-form {
    padding: 20px;
  }

  h2 {
    font-size: 22px;
  }

  label {
    font-size: 12px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .auth-form {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  input {
    font-size: 13px;
  }

  button {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}

// Стилізація для загальних повідомлень про помилки
.error-message-global {
  color: $red-color;
  font-size: 16px;
  background-color: rgba(255, 0, 0, 0.1);  // Легкий фон для акценту
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;  // Центруємо повідомлення
  animation: fadeIn 0.5s ease-out;  // Анімація появи
  font-weight: bold;
  border: 1px solid $red-color;  // Рамка для виділення
}

// Анімація для повідомлення
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
