// src/styles/utils/mixins.scss

@import './variables';

@mixin button {
  border-radius: 48px;
  cursor: pointer;
  text-align: center;
}

@mixin button-main {
  @include button;
  padding: 9.5px 0;
  background-color: $accent-color;
  color: $white-color;
  border: 1px solid $accent-color;
  @include hover((box-shadow, 0 3px 13px 0 #17203166));
}

// Міксин для адаптивності
@mixin container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0; /* Відступи з боків */
  @media (max-width: 1199px) { width: 100%; }
  @media (max-width: 991px) { width: 100%; }
  @media (max-width: 767px) { width: 100%; }
  @media (max-width: 575px) { width: 100%; padding: 0 16px; }
}
