// Імпортуємо змінні
@import '../../styles/variables.scss';

.footer {
  background-color: $secondary-color;
  color: $white-color;
  text-align: center;
  padding: 10px 20px; // Зменшуємо вертикальні відступи
  margin-top: auto;  // Підняти футер внизу, якщо головний контент займає весь екран
  min-height: 60px;  // Зменшуємо мінімальну висоту футера
  width: 100%;  // Футер займає всю доступну ширину, але не більше 1200px
  margin-left: auto;  // Центруємо футер
  margin-right: auto; // Центруємо футер
}

.footer a {
  color: $white-color;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

// Адаптивність для планшетів і телефонів
@media (max-width: 768px) {
  .footer {
    padding: 8px 15px; // Зменшуємо відступи для маленьких екранів
  }
}
