@import "../../styles/variables.scss";

.footer {
  width: 100%;
  background-color: #222; // темний фон
  padding: 32px 0; // 🔼 збільшена висота
  border-top: 1px solid #444;
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-top: auto;

  .footer-text {
    margin: 0;
    padding: 0 16px;
    line-height: 1.6;
  }

  @media (max-width: 480px) {
    font-size: 13px;
    padding: 24px 0;
  }
}
