/* Основні стилі для Hero Section */
.hero-image {
  background-image: url("../../../public/images/apartment-classic/apartment-classic-1.png"); /* Шлях до вашого фонового зображення */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }
}

/* Стилі для секції інформації */
.info-section {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
  margin-top: -20px;
}

/* Стилі для секції функцій */
.features-section {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;

  .feature-item {
    width: 30%;
    text-align: center;
  }
}

/* Стилі для кнопки Call to Action */
.cta-section {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  .cta-button {
    background-color: #4219d0;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #3541b4;
    }
  }
}
