@import '../../styles/variables.scss';

.header {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between; /* За замовчуванням для великих екранів */
  align-items: center; /* Центруємо елементи по висоті */
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: flex-end; /* За замовчуванням меню праворуч */
  align-items: center; /* Вирівнювання по висоті */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* За замовчуванням пункти меню вирівняні праворуч */
  padding: 0;
  align-items: center; /* Вирівнювання елементів по висоті */
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

nav ul li a:hover {
  color: #007BFF; /* Синій колір для активного елемента */
}

.logout-button {
  background: none;
  border: 1px solid #007BFF; /* Рамка з синім кольором */
  color: #007BFF; /* Синій колір тексту */
  cursor: pointer;
  font-size: 16px;
  padding: 8px 20px; /* Відступи */
  border-radius: 5px; /* Округлені кути */
  transition: background-color 0.3s, color 0.3s; /* Анімація для фону та кольору */
}

.logout-button:hover {
  background-color: #007BFF; /* Синій фон при наведенні */
  color: #fff; /* Білий текст при наведенні */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Вертикальний лейаут для маленьких екранів */
    align-items: center; /* Центруємо елементи по вертикалі */
    justify-content: center; /* Центруємо по горизонталі */
    padding: 10px 0; /* Меньші відступи */
  }

  .logo {
    width: 100%; /* Логотип займає всю ширину */
    margin-bottom: 10px; /* Відступ між логотипом та навігацією */
    justify-content: center; /* Центруємо логотип */
  }

  nav {
    justify-content: center; /* Центруємо навігацію по горизонталі */
    width: 100%;
  }

  nav ul {
    flex-direction: column; /* Вертикальний лейаут для меню */
    width: 100%;
    align-items: center; /* Центруємо пункти меню по горизонталі */
    padding: 0;
  }

  nav ul li {
    margin: 10px 0; /* Відступи між елементами навігації */
  }

  nav ul li a {
    font-size: 18px; /* Трохи більший шрифт для мобільних */
  }

  .logout-button {
    font-size: 18px; /* Трохи більший шрифт для мобільних */
  }
}

.nav-link-button {
  color: #fff; /* Білий текст при наведенні */
  background: $button-background;
  border: 1px solid #007BFF; /* Рамка з синім кольором */
  cursor: pointer;
  font-size: 16px;
  padding: 8px 20px; /* Відступи */
  border-radius: 5px; /* Округлені кути */
  transition: background-color 0.3s, color 0.3s; /* Анімація для фону та кольору */
}

.nav-link-button:hover {
  background-color: $button-hover-background; /* Синій фон при наведенні */
  color: #fff; /* Білий текст при наведенні */
}

.logout-button {
  background: none;
  border: 1px solid #007BFF; /* Рамка з синім кольором */
  color: #007BFF; /* Синій колір тексту */
  cursor: pointer;
  font-size: 16px;
  padding: 8px 20px; /* Відступи */
  border-radius: 5px; /* Округлені кути */
  transition: background-color 0.3s, color 0.3s; /* Анімація для фону та кольору */
}

.logout-button:hover {
  background-color: #007BFF; /* Синій фон при наведенні */
  color: #fff; /* Білий текст при наведенні */
}
