@import '../../styles/variables.scss';

.header {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: $text-color;
  text-align: center;
}

.logo h2 {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a.nav-link {
  text-decoration: none;
  color: $text-color;
  font-size: 16px;

  &:hover {
    color: $primary-color;
  }
}

.nav-link-button,
.logout-button {
  background-color: $button-background;
  color: $button-text-color;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: $button-hover-background;
    color: $white-color;
  }
}

// Підсвітка активної сторінки
.nav-link.active,
.nav-link-button.active {
  background-color: rgba($primary-color, 0.1);
  color: $primary-color;
  font-weight: 600;
  border-radius: 6px;
  padding: 8px 20px;
}




// Адаптив
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
  }

  .logo {
    width: 100%;
    margin-bottom: 6px;
    justify-content: center;
  }

  .logo h2 {
    font-size: 20px;
  }

  nav {
    justify-content: center;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 6px;
  }

  nav ul li {
    margin: 4px 0;
  }

  nav ul li a.nav-link,
  .nav-link-button,
  .logout-button {
    font-size: 14px;
    padding: 6px 16px;
  }
}
