// Імпортуємо змінні
@import '../../styles/variables.scss';

.header {
  background-color: $white-color;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-link {
  text-decoration: none;
  color: $text-color;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: $text-color;
  font-size: 16px;
}

nav ul li a:hover {
  color: $link-hover-color;
}

.logout-button {
  background: none;
  border: none;
  color: $text-color;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  color: $red-color;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  nav ul li a {
    font-size: 14px;
  }
}